@model e_commerce.viewModels.productViewModel;

@{
    //Layout = "_Layout";
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create New Product";
    ViewData["submitBtn"] = "Add";
}

<style>
    .close-x{
        cursor:pointer;
    }
</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <!-- /.card-header -->
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="hidden" value="@Model.ProductId" name="productId" />
                                <input type="text" class="form-control" value="@Model.ProductName" name="ProductName" id="ProductName" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Old Price</label>
                                <input type="number" step="any" class="form-control" value="@Model.ProductOldPrice" name="ProductOldPrice" id="ProductOldPrice" placeholder="0.0">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Price</label>
                                <input type="number" step="any" class="form-control" value="@Model.ProductPrice" name="ProductPrice" id="ProductPrice" placeholder="0.0">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Description</label>
                                <textarea class="form-control" rows="3" value="@Model.ProductDescription" name="ProductDescription">@Model.ProductDescription</textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Main Image</label>
                                <input type="file" step="any" class="form-control" name="ProductImage" id="ProductPrice" placeholder="0.0">
                            </div>
                            @if (!String.IsNullOrEmpty(Model.ProductImage))
                            {
                                <div class="row">
                                    <img width="300" src="~/@Model.ProductImage">
                                </div>
                            }
                            <div class="form-group">
                                <label for="exampleInputPassword1">Images</label>
                                <input type="file" class="form-control" name="images" id="ProductPrice" multiple>
                            </div>

                            <div class="row">
                                @if (Model.images != null)
                                {
                                    
                                   @foreach(e_commerce.models.Image image in Model.images)
                                    {
                                        <div class="Image image-id-@image.imageId">
                                            <div class="close">
                                                <span class="close-x" onclick="del(@image.imageId)">X</span>
                                            </div>
                                            <img width="300" style="margin:10px" src="~/@image.imageUrl">
                                        </div>

                                    }
                                }
                                
                                
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="@ViewData["submitBtn"]" />
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script>

        function del(id) {

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/admin/Products/deleteImage',
                        data: {
                            id: id
                        },
                        method: 'post',
                        success: function (response) {
                            $('.image-id-'+id).remove();
                        }

                    })
                }
            })


        }
    </script>
}




